@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Concert+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
width: 100%;
height: 100%;
}

body {
width: 100%;
height: 100%;
margin: 0;
font-family: "Roboto", sans-serif;
font-weight: light 300;
}

.container_results_select {
    display: flex;
    justify-content: end;
    width: 100%;
    max-width: 100%;
}

#header {
background-color: #FFFFFF;
width: 100%;
height: 14%;
border-bottom: 4px solid #009AFF;
box-sizing: border-box;
align-items: center;
display: flex;
justify-content: space-between;
}

#content {
width: 100%;
height: 86%;
display: flex;
flex-direction: row;
}

/* modal */
/* Estilos generales para el modal */
.modal {
    display: none; /* Iniciar como oculto */
    position: fixed; /* Queda fijo sobre el contenido */
    z-index: 1; /* Asegura que el modal quede por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    overflow: auto; /* Desplazamiento si es necesario */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro translúcido */
}

/* Contenido del modal */
.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-out;
}

/* Botón para cerrar el modal */
.close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
    transition: color 0.3s ease;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Título del modal */
.modal-content h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Estilo para las etiquetas */
.modal-content label {
    display: block;
    font-size: 14px;
    margin: 10px 0 5px;
    color: #555;
}

/* Estilo para los campos de entrada */
.modal-content input[type="text"],
.modal-content select {
    width: 50%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Botón para enviar el formulario */
.modal-content input[type="submit"] {
    background-color: #009AFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.modal-content input[type="submit"]:hover {
    background-color: #001485;
}

/* Estilo para el select cuando está deshabilitado */
.modal-content select:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

/* Estilo para inputs cuando están deshabilitados */
.modal-content input[type="text"]:disabled {
    background-color: #f1f1f1;
    cursor: not-allowed;
}

/* fin modal */
#content-right {
width: 90%;
height: 100%;
background-color: #071334;
display: flex;
flex-direction: column;
align-items: center;
}

#logo-iz {
height: 4vw;
width: auto;
margin-left: 5vw;
}

#logo-cent {
height: 4vw;
width: auto;
position: absolute;
left: 50%;
transform: translateX(-50%);
}


#btns-der {
width: 30%;
height: 100%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: right;
margin-right: 1vw;
}

#usrName {
margin: 0;
color: #005CAD;
font-size: 1.4vw;
}

#btn-cerrarSesion {
height: 100%;
width: auto;
cursor: pointer;
display: contents
}

#img-cerrarSesion:hover {
content: url('../img/offHover.png');
}

#img-cerrarSesion {
height: 3.5vw;
width: auto;
margin-left: 2vw;
}

#img-user {
width: 100%;
height: auto;
}

#img-userContainer {
margin-right: 1vw;
display: flex;
align-items: center;
justify-content: center;
width: 4vw;
height: 4vw;
border-radius: 50%;
overflow: hidden;
}

#menu {
height: 100%;
width: 10%;
background-color: #062F5D;
border-right-color: #FFFFFF;
box-sizing: border-box;
border-right: 2px solid #FFFFFF;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
}

.fuenteBlanca {
color: white;
}

.fuenteAzulClaro {
color: #009EFF;
}

#tituloPequeño {
font-size: 1vw;
font-weight: 400;
}

.opcionCaja {
width: 85%;
aspect-ratio: 1;
}

#cajaCrearAlumno,
#cajaEditarNotasActivado {
background-color: #61B546;
cursor: pointer;
}

#cajaCrearAlumno:hover,
#cajaEditarNotasActivado:hover {
background-color: #0C735E;
}

#cajaEditarNotasDesactivado {
background-color: grey;
}

#activar {
pointer-events: none;
}


#cajaNotasMedias {
background-color: #4EA64B;
cursor: pointer;
}

#cajaNotasMedias:hover {
background-color: #0C735E;
}

#parteIconoCaja {
width: 100%;
height: 50%;
display: flex;
align-items: center;
}

#parteNombreCaja {
width: 100%;
height: 50%;
}

.simboloCaja {
width: auto;
height: 2vw;
margin-left: 15px;
}

#textoCajas {
margin: 0;
font-size: 1vw;
margin-left: 1vw;
margin-right: 1vw
}

#header-tbl {
width: 100%;
height: 10%;
}

#tbl-content {
border: 1px solid black;
border-collapse: collapse;
width: 90%;
max-width: 90%;
background-color: #FFFFFF;
}

.blanco {
color:white
}

.margin-bot {
margin-bottom: 2vh;
}

.arreglarForm {
max-width: none !important;
width: 100% !important;
}

#tbl-content thead th,
#tbl-content tbody td {
border: 1px solid black;
padding: 5px;
}

span {
color: white;
margin: 10px;
}

#bugSwal {
height:100% !important
}

.btn-editar {
width: 100%;
height: 100%;
border: none;
margin: 0;
}

.btn-eliminar {
width: 100%;
height: 100%;
}

#tbl-content tbody td.tipoBoton {
padding: 0;
justify-content: top;
}

#tbl-content * {
font-size: 1vw
}

.pagination {
margin-top: 2vh;
width: 90%;
display: table-column;
text-align: center;
color: white
}

.noEstilosLink {
text-decoration: none;
color: #009EFF;
margin: 0.5vw;
}

.noEstilosLink:hover {
color: #c5e9ff;
}

.results_select {
    border: none;
    background-color: #3975bb;
    color: #FFFFFF;
    font-size: 1vw;
    border-radius: 4px;
    cursor: pointer;
}

table {
border-radius: 8px;
}

.celdaEliminar {
background-color: rgb(170, 74, 74);
justify-content: center;
align-items: center;
margin: 0;
padding: 0;
}

.celdaEliminar:hover {
background-color: rgb(174, 52, 52);
cursor: pointer;
}

.celdaEditar {
background-color: rgb(125, 117, 45);
}

.celdaEditar:hover {
background-color: rgb(180, 165, 23);
cursor: pointer;
}

#iconoEditar {
width: 2vh;
height: auto;
}

#iconoEliminar {
width: 2vh;
height: auto;
}

.quitarEstilosBtn {
text-decoration: none;
}

.bg-light {
background-color: #005CAD !important
}

.errorCrear {
margin: 0;
margin-top: 1vh;
padding: 0;
color: red
}

@media(max-width: 768px) {
#content {
    height: 90%;
}

#header {
    height: 10%;
}

#logo-iz,
#logo-cent {
    height: 3vh;
}

#img-cerrarSesion {
    height: 4vh;
}

#usrName {
    font-size: 3vw;
    text-align: right;
}

#img-userContainer {
    display: none;
}

.pagination,
#tbl-content * {
    font-size: 2.6vw;
}

.ocultar {
    display: none;
}

#menu {
    display: none;
}

#content-right {
    width: 100%;
}

#cambiarNumMostrar {
    margin-left: 81%;
}
.shadow {
margin-bottom: 5vh;
}

}

#container_index_pages {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#cambiarNumMostrar {
    margin-top: 20px;
    width: 100%;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #f5f5f5;
}

.rowTable {
    cursor: pointer;
}

/* Estilo para ocultar ciertas columnas */
.ocultar {
    display: none;
}

/* Mejorar la presentación de la tabla en pantallas pequeñas */
@media (max-width: 768px) {
    table th, table td {
        padding: 8px;
    }
}